@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.cdnfonts.com/css/telegraf");

/*Top Bar Section */
.nav-top {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  background-color: #4cb7a5;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  z-index: 10;
}

.inventory-name {
  font-family: "Telegraf", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  right: 0;
}

/*User Photo in Top Bar*/
.user-logo {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: solid 8px transparent;
}

.user-logo:hover {
  border-color: #00000037;
}

.user-logo:active {
  border-color: #00000028;
}

/*User container in Top Bar*/
.user_top-bar {
  right: 80px;
  top: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0px;
}

.user-settings {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

/*see logout*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-right: 20px;
  padding-left: 17px;
  border-radius: 5px;
}

.user-dropdown a:hover {
  background-color: #20b2aa;
  color: white;
  font-weight: bold;
}

.user-dropdown:focus-within .dropdown-content {
  display: block;
}

.user-settings:focus {
  outline: none;
}

/* Side-Bar Section */
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background-color: #ccffee;
  padding-top: 20px;
  color: black;
  z-index: 10;
}

/* Centering content inside the side-bar */
.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 10px;
}

.logo-part {
  background: url("../images/logo-dashboard_black.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  transition: transform 0.15s;
}

.logo-part:hover {
  transform: scale(1.1);
}

.welcome-text {
  font-family: "Telegraf", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 5px;
}

/* Navigation Links Section */
/* .links {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

.link-content {
  display: flex;
  align-items: center;
  gap: 10px; /* space between icon and text */
}

.links a:hover,
.links a.active {
  background-color: #b6c9dd;
}

/* icon */
.icon {

  width: 25px;
  height: 25px;
}

/*
.link-item {
  margin-bottom: 25px;
}

.link-item a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 12px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s;
}
*/

h3 {
  user-select: none; /* Prevents text selection */
  pointer-events: auto; /* Ensures the link behaves normally */
}

a {
  user-select: none; /* Prevents text selection */
  pointer-events: auto; /* Ensures the link behaves normally */
}

.link-item a:hover {
  background-color: rgba(0, 0, 0, 0.115);
}

/* Active link style */
.active-link {
  width: 100%;
  padding-left: 16px;
  display: block;
  font-weight: bold;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.115);
  box-sizing: border-box;
}

/*general button to use in content section*/
.edit-button {
  background-color: #4cb7a5;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  margin: 7px;
}

.edit-button:hover {
  background-color: #368275;
  color: white;
}

.edit-button-a {
  background-color: #017371;
  color: white;
}

.edit-button-a:hover {
  background-color: #20b2aa;
  color: black;
}

.edit-button-b {
  background-color: #20b2aa;
}
.edit-button-b:hover {
  background-color: #017371;
  color: white;
}

.stock-nav, .product-nav {
  padding-top: 5px;
  padding-bottom: 5px;
}

.stock-nav input[type="text"] {
  padding: 10px;
  border: solid;
  border-radius: 7px;
  border-width: 2px;
  width: 300px;
  margin-right: 20px;
  margin-top: 15px;
}

.product-image {
  height: 90px;
  width: 110px;
  object-fit: cover;
}

.product-category, .payment-status {
  overflow: hidden;
  background-color: white;
  padding: 10px;
  border: solid;
  border-radius: 7px;
  border-width: 2px;
  width: 150px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.payment-status {
  width: 130px;
}

.product-form {
  padding: 10px;
  padding-top: 0px;
}

.product-form input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #e5e4e2;
  border: 1px #e5e4e2;
  border-radius: 5px;
}

.popup-content button {
  margin-right: 10px;
}

.table-container {
  padding-right: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
}

table {
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  border-collapse: collapse;
  border-color: black;
}

thead {
  background-color: #4cb7a5;
  color: white;
}

td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.content-header {
  font-size: 28px;
  font-family: "Telegraf", sans-serif;
}

/*Content Section*/
.content-section {
  padding: 30px;
  padding-top: 30px;
  background-color: white;
  margin-top: 80px;
  margin-left: 240px;
  margin-right: 30px;
  min-height: 80vh;
  width: 79%;
  color: black;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.saveprofile-button {
  background-color: #222;
  border-radius: 7px;
  padding: 11px;
  width: 100px;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-style: none;
}

.saveprofile-button:active {
  background: #009087;
  transition: all 0.5s ease-in-out;
  transform: scale(0.98);
  filter: brightness(0.9);
}

.saveprofile-button:hover {
  color: white;
  background: #009087;
}

.editprofile-input {
  margin-top: 5px;
  padding: 10px;
  width: 330px;
  background-color: #e5e4e2;
  border: 1px #e5e4e2;
  border-radius: 5px;
}

.calendar {
  margin-top: 5px;
  padding: 10px;
  width: 150px;
  background-color: white;
  border: 2px rgb(130, 130, 130);
  border-style: solid;
  border-radius: 5px;
}

.change-picture {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-left: 0px;
  padding-right: 40px;
}

.account-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.account-form {
  margin-right: 0px;
  margin-left: 20px;
  width: fit-content;
}

.account-container {
  display: flex;
  column-gap: 10px;
  justify-content: flex-start;
  margin-top: 40px;
  gap: 120px;
  flex-wrap: wrap;
  height: 80vh;
}

/*container for info in about section*/
.about-content {
  padding: 10px;
  padding-top: 0px;
  line-height: 2;
}

.filter {
  overflow: hidden;
  background-color: white;
  padding: 10px;
  border: solid;
  border-radius: 7px;
  border-width: 2px;
  width: 200px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.prev-next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.prev-next-button a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.prev-next-button a:hover {
  background-color: #a8a8a8;
  color: black;
}

.previous {
  background-color: #dbdbdb;
  color: black;
}

.next {
  background-color: #368275;
  color: white;
}

@media screen and (max-width: 1000px) {
  .user_top-bar {
    right: 20px;
  }

  .product-form {
    flex-direction: column;
    justify-items: center;
  }

  .account-container {
    flex-direction: column;
    gap: 90px;
    position: absolute;
    right: 50px;
    left: 20px;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .popup-content {
    margin-left: 30px;
    margin-right: 30px;
    justify-items: center;
  }
}

.hidden-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
